@model IEnumerable<OneTechStudentManager.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
</p>
@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                <strong>
                    @Html.DisplayNameFor(model => model.StudentId)
                </strong>
            </th>
            <th>
                Fullname
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <strong>
                        #@Html.DisplayFor(modelItem => item.StudentId)
                    </strong>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName) @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            </tr>
        }

    </table>
}
else
{
    <div class="col-12">
        <div class="col-12 alert alert-warning alert-dismissible" role="alert">
            <strong>@ViewBag.Message</strong>
        </div>
    </div>
}
